@import './media-queries.css';
@import '../mixins/utils.css';

h1,
.text-h1 {
  /* @mixin fluid-value font-size, 3, 4.3, 320, 1280; */

  font-family: var(--title);
  line-height: 1.1;
  font-weight: 400;
  font-size: 3.8rem;
  -webkit-font-smoothing: antialiased;

  @media (--laptop) {
    font-size: 5.8rem;
  }
}

h2,
.text-h2 {
  font-family: var(--title);
  -webkit-font-smoothing: antialiased;

  @media (min-width: b(small)) {
    font-size: 3rem;
  }
}

h3,
.text-h3 {
  font-family: var(--title);
  text-transform: uppercase;
  color: var(--color-grey-dark);
}

h4,
.text-h4 {
  font-family: var(--title);
  font-weight: 800;
  padding-bottom: 0.5rem;
  -webkit-font-smoothing: antialiased;
}

h5,
.text-h5 {
  font-family: var(--title);
}

h6,
.text-h6 {
  font-family: var(--title);
}

.text-default {
  font-size: 2.1rem;
  font-family: var(--text);
  font-weight: 400;
  
  @media (--laptop) {
    font-size: 2.6rem;
    font-weight: 600;
  }
}

.text-color-secondary {
  color: var(--color-secondary);
}

.text-color-white {
  color: var(--color-white);
}
