.stack {
  --stack-row-gap: var(--spacing);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: var(--stack-row-gap);
}

.stack--xs {
  --stack-row-gap: var(--spacing-xs);
}

.stack--sm {
  --stack-row-gap: var(--spacing-sm);
}

.stack--md {
  --stack-row-gap: var(--spacing-md);
}

.stack--lg {
  --stack-row-gap: var(--spacing-lg);
}

.stack--xl {
  --stack-row-gap: var(--spacing-xl);
}

.stack--2xl {
  --stack-row-gap: var(--spacing-2xl);
}

.stack--3xl {
  --stack-row-gap: var(--spacing-3xl);
}

.stack--4xl {
  --stack-row-gap: var(--spacing-4xl);
}