@define-mixin stack $val: 0 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    margin-bottom: 0 !important;
  }

  & > :not(:first-child) {
    margin-top: $val !important;
  }

  &.stack--rev {
    flex-direction: column-reverse;

    & > :not(:first-child) {
      margin-top: 0 !important;
      margin-bottom: $val !important;
    }
  }
}

@define-mixin unstack {
  @mixin stack 0;

  flex-direction: row;
}

.stack {
  @mixin stack var(--spacing);
}

.stack--xs {
  @mixin stack var(--spacing-xs);
}

.stack--sm {
  @mixin stack var(--spacing-sm);
}

.stack--md {
  @mixin stack var(--spacing-md);
}

.stack--lg {
  @mixin stack var(--spacing-lg);
}

.stack--xl {
  @mixin stack var(--spacing-xl);
}

.stack--2xl {
  @mixin stack var(--spacing-2xl);
}

.stack--3xl {
  @mixin stack var(--spacing-3xl);
}

.stack--4xl {
  @mixin stack var(--spacing-4xl);
}
